<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Acerca de</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css" />
</head>
<body>
    <header>
        <nav class="nav">
            <ul>
                <li><a href="../views/inicio.HTML">Inicio</a></li>
                <li><a href="../views/acercade.HTML">Acerca de</a></li>
                <li><a href="../views/resenas.HTML">Reseñas</a></li>
                <li><a href="../views/contacto.HTML">Contactos</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>descubre acerca de los videojuegos</h1>
        <p>
            Acerca de los Videojuegos:
        </p>
        <p>
            <i>

                Los videojuegos son una forma de entretenimiento interactivo que se juega a través de dispositivos electrónicos como consolas, computadoras y teléfonos móviles. A diferencia de otros medios de entretenimiento, como la televisión o el cine, los videojuegos permiten a los jugadores participar activamente en la experiencia, tomando decisiones y controlando el desarrollo del juego.
            </i>
        </p>
        <p>
            Historia y Evolución:
        </p>
        <p>
            <i>
                Desde los primeros juegos en blanco y negro de las décadas de 1950 y 1960, como "Tennis for Two", hasta los sofisticados títulos actuales con gráficos avanzados y narrativas complejas, los videojuegos han recorrido un largo camino. La evolución de la tecnología ha permitido a los videojuegos ofrecer experiencias cada vez más inmersivas y diversas.
            </i>
        </p>

        <p>
            Impacto Cultural y Social:
        </p>
        <p>
            <i>
                Los videojuegos tienen un profundo impacto cultural y social, fomentando comunidades globales de jugadores y creando eventos competitivos como torneos y eSports. También pueden ofrecer beneficios educativos y terapéuticos, promoviendo habilidades como la resolución de problemas y la coordinación.
            </i>
        </p>

        <a href="../index.html">Regresar al inicio</a>
    </main>
</body>
</html>