<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Contacto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css" />
</head>
<body>
    
   <p>Sitio web creado por: Mario Enrique Calzadilla Sintigo</p>
   <p>Informacion obtenia por: Mario Enrique Calzadilla Sintigo</p>
   <p>
    Cualquier duda u opinion escribir al: 
 Whatsapp  +503 6120-7666
 Gmail: mariocalzadilla2014@gmial.com 
   
   </p>
    <a href="../index.html">Regresar al inicio</a>
</body>
</html>