<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Inicio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css" />
</head>
<body>
    <header>
        TODO ACERCA DE LOS VIDEOJUEGOS
    </header>

    <h2>!CONOCE MAS ACERCA DE LOS VIDEOJUEGOS</h2>
    <p>aca te dejamos una pequeña reseña sobre como los videojuegos han evolucionado</p>

    <p>
        Videojuegos: Una Visión General

        Los videojuegos son una forma de entretenimiento digital que ha evolucionado desde simples gráficos en las décadas de 1950 y 1960 hasta experiencias ricas y variadas hoy en día. Existen en numerosos géneros, como aventuras, disparos, y simulación, y están disponibles en plataformas como consolas, PC y dispositivos móviles.

        Impacto y Tendencias

        Además de ser una forma popular de diversión, los videojuegos influyen en la cultura global, fomentan comunidades y ofrecen beneficios educativos y terapéuticos. La industria sigue innovando con tecnologías como la realidad virtual (VR) y el juego en la nube, prometiendo experiencias aún más inmersivas en el futuro.
    </p>
    <br />

    <img src="../images/imagen1.jpg" alt="imagen 1" height="300" width="350" />
    
    <img src="../images/imagen2.jpg" alt="imagen 2" height="300" width="350" />
    <br />
    <a href="../index.html">Regresar al inicio</a>

</body>
</html>