<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Reseñas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css" />
</head>
<body>
    <header>
        <nav class="nav">
            <ul>
                <li><a href="views/inicio.HTML">Inicio</a></li>
                <li><a href="views/acercade.HTML">Acerca de</a></li>
                <li><a href="views/resenas.HTML">Reseñas</a></li>
                <li><a href="views/contacto.HTML">Contactos</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <p>* A continuacion, un listado con algunos de las franquisias de videojuegos mas populares de los ultimos tiempos (en este top solo se incluyen juegos de consola)</p>


        <p>
            <b> 1- Super Mario Bros (franquicia en general)</b>
        </p>
        <p>
            <i>
                Super Mario Bros. es una de las franquicias más icónicas y duraderas en la historia de los videojuegos, desarrollada por Nintendo. Lanzado originalmente en 1985 para la Nintendo Entertainment System (NES), el juego Super Mario Bros. revolucionó el género de plataformas y estableció a Mario, el fontanero italiano, como el personaje emblemático de Nintendo.
                Creado por Shigeru Miyamoto y su equipo, Super Mario Bros. introdujo a Mario y su hermano Luigi en una misión para rescatar a la Princesa Peach del malvado Bowser. El juego es conocido por sus innovadoras mecánicas de juego, diseño de niveles y su estética colorida.
            </i>
        </p>
        <p> <b>Expanción de la franquicia</b></p>
        <p>
            <i>
                algunas secuelas y spin-offs son: Super Mario Bros. 3, Super Mario World, y Super Mario 64, cada uno introduciendo nuevas mecánicas y mejoras gráficas.
                desde plataformas en 2D y 3D, hasta juegos de deportes, carreras, y juegos de rol. Títulos como Super Mario Kart, Mario Party, y Mario Odyssey han diversificado aún más el alcance de la franquicia.
            </i>
        </p>


        <p><b>2- Legend of Zelda</b></p>
        <p>
            <i>
                The Legend of Zelda es una influyente y venerada franquicia de videojuegos creada por Shigeru Miyamoto y desarrollada por Nintendo. Desde su lanzamiento inicial en 1986 para la Nintendo Entertainment System (NES), ha dejado una marca indeleble en el género de acción y aventura. El primer juego, The Legend of Zelda, presentó a los jugadores un mundo abierto para explorar, algo innovador en su época. Introdujo elementos como la exploración no lineal, la resolución de acertijos y la recolección de objetos.
            </i>
        </p>
        <p>
            <b>Expanción de la franquicia</b>
        </p>
        <p>
            <i>
                La serie ha lanzado numerosas secuelas y títulos importantes, como The Adventure of Link, A Link to the Past, y Ocarina of Time. Cada uno de estos juegos ha introducido nuevas mecánicas, gráficos mejorados y expansiones en la narrativa.
            </i>
        </p>



        <p><b>3-Call Of Duty</b></p>
        <p>
            <i>
                es una franquicia de videojuegos de disparos en primera persona (FPS) desarrollada por Infinity Ward, Treyarch y Sledgehammer Games, y publicada por Activision. Desde su debut en 2003, se ha convertido en una de las series más populares y exitosas en la industria del videojuego. El primer Call of Duty se centraba en la Segunda Guerra Mundial, ofreciendo una experiencia inmersiva con una narrativa cinematográfica y un enfoque en la autenticidad histórica. Su innovador diseño de niveles y su realismo en el combate establecieron un nuevo estándar para los juegos de guerra.
            </i>
        </p>
        <p><b>Expanción de la franquicia</b></p>
        <p>
            <i>
                Con el paso del tiempo, Call of Duty ha diversificado su enfoque, desde la Segunda Guerra Mundial hasta conflictos modernos y futuros. Juegos como Call of Duty 4: Modern Warfare (2007) marcaron el inicio de la era moderna de la franquicia, introduciendo un enfoque contemporáneo en la guerra. La serie ha incorporado varios modos de juego, incluyendo el popular modo multijugador y el modo de supervivencia Zombies. Call of Duty: Warzone, lanzado en 2020, introdujo un exitoso modo battle royale que ha ganado gran popularidad.
            </i>
        </p>


        <p><b>4- franquica de Grand Theft Auto (GTA)</b></p>
        <p>
            <i>
                Grand Theft Auto (GTA) es una influyente franquicia de videojuegos desarrollada por Rockstar Games. Desde su lanzamiento inicial en 1997, ha establecido un estándar en el género de mundo abierto, combinando narrativas complejas con una jugabilidad expansiva y detallada. l primer Grand Theft Auto se centraba en una perspectiva aérea y un entorno de ciudad ficticia, pero la serie ganó notoriedad con Grand Theft Auto III (2001), que revolucionó el género con su mundo abierto en 3D y su enfoque en una narrativa cinematográfica.
                Innovación: GTA III introdujo un entorno completamente explorable y una historia rica en un formato de mundo abierto, permitiendo a los jugadores interactuar con la ciudad y sus
            </i>
        </p>

        <p><b>Expanción de la franquicia</b></p>
        <p>
            <i>
                La franquicia ha explorado una variedad de entornos y épocas, desde el Los Santos inspirado en Los Ángeles en GTA: San Andreas (2004), hasta el Londres de los años 60 en GTA: London (1999). Grand Theft Auto V (2013) se destacó por su detallado mundo abierto y su narrativa entrelazada, presentando tres protagonistas jugables en una historia interconectada.  GTA Online, lanzado como parte de Grand Theft Auto V, ha sido un éxito rotundo, ofreciendo un mundo persistente en línea donde los jugadores pueden participar en una variedad de actividades, desde misiones y robos hasta carreras y eventos sociales.
            </i>
        </p>


        <p><b>5 franquicia FIFA</b></p>
        <p>
            <i>
                FIFA es una reconocida franquicia de videojuegos de fútbol desarrollada y publicada por Electronic Arts bajo su marca EA Sports. Lanzada inicialmente en 1993, la serie ha sido una de las más populares en el género de simulación deportiva.
                El primer FIFA International Soccer fue lanzado para varias plataformas, incluyendo Sega Mega Drive y Super Nintendo. Desde sus inicios, la serie se enfocó en ofrecer una experiencia de fútbol realista con un enfoque en la simulación del deporte.
            </i>
        </p>
        <p><b>Expancion de la franquicia</b></p>
        <p>
            <i>
                La serie ha introducido una variedad de modos de juego a lo largo de los años, incluyendo el popular modo FIFA Ultimate Team (FUT), que permite a los jugadores construir y gestionar su propio equipo de ensueño. Otros modos incluyen la Carrera, en la que los jugadores pueden gestionar un equipo o crear una carrera como jugador, y el modo Volta, que se centra en el fútbol callejero.
            </i>
        </p>

        <<a href="../index.html">Regresar al inicio</a>


    </main>
    
</body>
</html>